[Unit]
Description=GePT prediction validation
After=network.target postgresql.service

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/gept/current/packages/model
Environment="PATH=/home/ubuntu/gept/venv/bin:/usr/bin"
EnvironmentFile=/home/ubuntu/gept/.env
ExecStart=/home/ubuntu/gept/venv/bin/python -m src.prediction_validator
TimeoutStartSec=300
