[Unit]
Description=GePT Model Inference
After=network.target postgresql.service

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/gept/current/packages/model
Environment="PATH=/home/ubuntu/gept/venv/bin:/usr/bin"
Environment="PYTHONPATH=/home/ubuntu/gept/current/packages/model/src"
EnvironmentFile=/home/ubuntu/gept/.env
ExecStart=/home/ubuntu/gept/venv/bin/python -m src.batch_predictor_multitarget
TimeoutStartSec=300
